.headerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: black;
  color: white;
}
.LogoContainer {
  margin-left: 50px;
  font-size: 20px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.headerE {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.headerEn {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}
.headerCart {
  margin-right: 18px;
  color: white;
  text-decoration: none;
}
.productsHomeCard {
  display: flex;
  margin-right: 50px;
}
